body {
    font-size: 3em; /* 全体を3倍に拡大 */
  }
  
  button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 1em;
  }
  
  #letters {
    display: flex;
    flex-wrap: wrap;
    max-width: 760px; /* ボタンが二段になるように調整 */
  }
  